#content {
  height: 100%;
}

button {
  margin: 6px;
}

span {
  word-break: break-all;
}

.pri-1 {
  color: red;
}
.pri-2 {
  color: green;
}
.pri-3 {
  color: blue;
}
.pri-4 {
  color: fuchsia;
}
.pri-5 {
  color: purple;
}